{% extends "base-form.njk" %}
{% from "hmpo-details/macro.njk" import hmpoDetails %}

{% set gtmJourney = "kbv-hmrc - start" %}

{% block submitButton %}
  {{ hmpoSubmit(ctx, {id: "start", text: translate("pages.answerSecurityQuestions.start-button")}) }}
  {{ hmpoHtml(translate("pages.shared.abandon")) }}
{% endblock %}
