{% extends "base-form.njk" %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}

{% set hmpoPageKey = "pensions-benefits-short-tax-return" %}
{% set hmpoPageContent = "pensions-benefits-short-tax-return" %}
{% set gtmJourney = "pensions-benefits-short-tax-return - start" %}

{% block submitButton %}
  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
  {{ hmpoHtml(translate("pages.shared.abandon")) }}
{% endblock %}
