{% extends "base-form.njk" %}
{% from "hmpo-html/macro.njk" import hmpoHtml %}

{% set gtmJourney = "pensions-benefits-self-assessment - start" %}

{% block mainContent %}
  {{ super() }}
  {{ hmpoHtml(translate("pages.shared.abandon")) }}
{% endblock %}
