{% extends "base-form.njk" %}
{% from "hmpo-warning-text/macro.njk" import hmpoWarningText %}

{% set gtmJourney = "prove-identity-another-way - start" %}

{% block submitButton %}
  {{ hmpoWarningText({
    text: translate("pages.proveIdentityAnotherWay.warning"),
    iconFallbackText: "Warning"
  }) }}
  {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
{% endblock %}
