{% extends "base-form.njk" %}
{% from "hmpo-radios/macro.njk" import hmpoRadios %}

{% set gtmJourney = "kbv-hmrc - middle" %}

{% set hmpoTitle = translate(title) %}

{% block mainContent %}
  <h1 class="govuk-heading-l"> {{ translate(title) }} </h1>

  {{ title | dump }}
  {{ yearRange | dump }}
  {{ content | dump }}

  {{ hmpoHtml(content) }}

  {% call hmpoForm(ctx) %}

    {{ hmpoRadios (ctx, {
      id: "selfAssessmentRouter",
      name: "selfAssessmentRouter",
      value: "selfAssessmentRouter",
      fields: selfAssessmentRouter.items
    }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
  {% endcall %}

  {{ hmpoHtml(translate("pages.shared.abandon")) }}

{% endblock %}
