{% extends "base-form.njk" %}
{% from "hmpo-text/macro.njk" import hmpoText %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set gtmJourney = "kbv-hmrc - middle" %}

{% set hmpoTitle = question.title %}

{% block mainContent %}
  <h1 class="govuk-heading-l"> {{ question.title }} </h1>

  {% if question.inset != " " %}
    {{ govukInsetText({
      text: question.inset
    }) }}
  {% endif %}

  {{ hmpoHtml(question.content) }}

  {% call hmpoForm(ctx) %}

    {{ hmpoText(ctx, {
      id: question.name,
      name: question.name,
      label: {
        text: question.label,
        classes: "govuk-label--m"
      },
      hint: {
        text: question.hint
      },
      prefix: {
        text: question.prefix
      },
      classes: "govuk-input--width-5"
    }) }}

    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
  {% endcall %}

  {{ hmpoHtml(translate("pages.shared.abandon")) }}

{% endblock %}
