  {% extends "base-form.njk" %}
  {% from "hmpo-text/macro.njk" import hmpoText %}
  {% from "hmpo-details/macro.njk" import hmpoDetails %}
  {% from "hmpo-inset-text/macro.njk" import hmpoInsetText %}

  {% set hmpoPageKey = question.name %}
  {% set gtmJourney = question.name + "- start" %}

  {% block mainContentBody %}
    {% if question.details %}
      {{ hmpoInsetText(question.inset) }}
    {% endif %}

    {{ hmpoHtml(question.content) }}

    {% if question.details %}
      {{ hmpoDetails(question.details) }}
    {% endif %}
  {% endblock %}

  {% block submitButton %}
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    {{ hmpoHtml(translate("pages.shared.abandon")) }}
  {% endblock %}
