  {% extends "base-form.njk" %}
  {% from "hmpo-text/macro.njk" import hmpoText %}
  {% from "hmpo-details/macro.njk" import hmpoDetails %}
  {% from "hmpo-inset-text/macro.njk" import hmpoInsetText %}

  {% set hmpoPageKey = question.name %}
  {% set gtmJourney = question.name + "- start" %}

  {% block mainContentBody %}

  {% if question.inset %}
    <div class="govuk-inset-text">
      {% if currentYearRangeStart %}
        <p>{{ question.inset[0] }}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{ question.inset[1] }}</li>
          {% if previousYearRangeStart %}
            <li>{{ question.inset[2] }}</li>
          {% endif %}
        </ul>
      {% else %}
        <p>{{ question.inset }}</p>
      {% endif %}
    </div>
  {% endif %}

    {{ hmpoHtml(question.content) }}

    {% if question.details %}
      {{ hmpoDetails(question.details) }}
    {% endif %}
  {% endblock %}

  {% block submitButton %}
    {{ hmpoSubmit(ctx, {id: "continue", text: translate("buttons.next")}) }}
    {{ hmpoHtml(translate("pages.shared.abandon")) }}
  {% endblock %}
